
h1 {
    /* font-family: 'Patua One', cursive; */
    font-weight: 50;
    font-size: calc(4em + 10vmin);
    color: white;
    margin: 0;
    padding: 0;
    padding: 70px 0;
    text-align: center;
    
}

#splitscreen {
    font-weight: 10;
    font-size: calc(4em - 8vmin);
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2ca0ff;
    height: 100vh;
}

#landing-sentence {
    /* font-family: 'Patua One', cursive; */
    font-weight: 50;
    font-size: calc(4em + 4vmin);
    color: white;
    margin: 0;
    padding: 0;
    padding: 70px 0;
    text-align: center;
}

#left {
    background-color: #7D4BDB;
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100vh;
    padding-top:100pt;
}

#right {
    background-color: #ecf0f1;
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100vh;
    padding-top:100pt;

}

#sign {
    /* font-family: 'Patua One', cursive; */
    font-weight: 50;
    font-size: calc(4em + 4vmin);
    color: black;
    margin: 0;
    padding: 0;
    padding: 70px 0;
    text-align: center;
}

#imageOne {
    padding-top: 100px;
    width: 40%;
    height: auto;
}